on:
  push:
    branches:
      - main
  pull_request:

name: darwin
jobs:
  flake-check:
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
      - name: Flake check
        run: nix flake check

  build-shell:
    runs-on: macos-15-intel
    needs:
      - flake-check
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
      - if: ${{ !github.event.pull_request.head.repo.fork }}
        uses: cachix/cachix-action@v16
        with:
          name: "konradmalik"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Shell build
        run: nix build .#devShells.x86_64-darwin.default

  tests:
    runs-on: macos-15-intel
    needs:
      - build-shell
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
      - name: run tests
        run: nix develop --command make test

  build-package:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - { system: x86_64-darwin, os: macos-15-intel }
          - { system: aarch64-darwin, os: macos-26 }
    runs-on: ${{ matrix.platform.os }}
    needs:
      - tests
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
      - if: ${{ !github.event.pull_request.head.repo.fork }}
        uses: cachix/cachix-action@v16
        with:
          name: "konradmalik"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Flake build default package for ${{ matrix.platform.system }}
        run: nix build .#packages.${{ matrix.platform.system }}.default
