on:
  push:
    branches:
      - main
  pull_request:

name: linux
jobs:
  flake-check:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: wimpysworld/nothing-but-nix@v6
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
      - name: Flake check
        run: nix flake check --all-systems

  build-shell:
    runs-on: ubuntu-latest
    needs:
      - flake-check
    steps:
      - uses: actions/checkout@v6
      - uses: wimpysworld/nothing-but-nix@v6
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
      - if: ${{ !github.event.pull_request.head.repo.fork }}
        uses: cachix/cachix-action@v16
        with:
          name: "konradmalik"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Shell build
        run: nix build .#devShells.x86_64-linux.default

  tests:
    runs-on: ubuntu-24.04
    needs:
      - build-shell
    steps:
      - uses: actions/checkout@v6
      - uses: wimpysworld/nothing-but-nix@v6
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
      - name: run tests
        run: nix develop --command make test

  build-package:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - { os: ubuntu-24.04, system: x86_64-linux }
          - { os: ubuntu-24.04-arm, system: aarch64-linux }
    runs-on: ${{ matrix.platform.os }}
    needs:
      - tests
    steps:
      - uses: actions/checkout@v6
      - uses: wimpysworld/nothing-but-nix@v6
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
            system-features = aarch64-linux arm-linux
            extra-platforms = aarch64-linux arm-linux
      - if: ${{ !github.event.pull_request.head.repo.fork }}
        uses: cachix/cachix-action@v16
        with:
          name: "konradmalik"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Flake build default package for ${{ matrix.platform }}
        run: nix build .#packages.${{ matrix.platform.system }}.default
